#kk{
    width: 328px;
    height: 400px;
    background-color: rgb(239, 234, 234);
    border-radius: 20px;
    border: solid black 1px;
    margin-left: 35%;
    margin-top: 70px;
}
h1{
    text-align: center;
}
form{
    width: 300px;
    
    
}
::placeholder{
    text-align: right;


}
@media(max-width:400px)
{
    button{

    }
}
#nn{
    text-align: center;
    
}